[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "plugins/pelican-plugins"]
	path = plugins/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "themes/pelican-octopress-theme"]
	path = themes/pelican-octopress-theme
	url = https://github.com/duilio/pelican-octopress-theme
